Index do Usuario

Lista de usuário utilizando tag Table

Criar uma tabela com dados fakes de usuários já cadastrados

login
Nome
senha
ativo ou não(checkbox)

<link rel="stylesheet" href="~/css/ListaUsuario.css" asp-append-version="true" />

<h1>Tabela de preços</h1>

<table>
    <tr>
        <th>Usuário</th>
        <th>Nome</th>
        <th>senha</th>
        <th>ativo?</th>

    </tr>

    <tr>
        <td>Rodolfo01</td>
        <td>Rodolfo</td>
        <td>123</td>
        <td>sim</td>
    </tr>

    <tr>
        <td>Marias</td>
        <td>maria</td>
        <td>11111</td>
        <td>sim</td>
    </tr>

    <tr>
        <td>Leleticia</td>
        <td>Leticia</td>
        <td>12345</td>
        <td>sim</td>
       
    </tr>

    <tr>
        <td>Izaedits</td>
        <td>Izabelita</td>
        <td>1234556</td>
        <td>sim</td>
        
    </tr>

    
</table>
